.search-item-reset--wrapper {
  margin-right: 16px;
  margin-bottom: 16px;

  .qk-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .list-item {
      margin-left: 8px;
      padding: 0 24px;
      line-height: 30px;
      font-size: 12px;
      border: 1px solid #e2e4eb;
      border-radius: 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &.active {
        color: #3661f0;
        border-color: #3661f0;
        z-index: 11;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .qkdate-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .list-item {
      margin-right: 8px;
      padding: 0 24px;
      line-height: 30px;
      font-size: 12px;
      border: 1px solid #e2e4eb;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: #3661f0;
        border-color: #3661f0;
        z-index: 11;
      }
    }
  }

  .define-btn {
    margin-right: 16px;
    line-height: 30px;
  }

  .folder-btn {
    display: flex;
    align-items: center;

    i {
      margin-left: 4px;
    }
  }

  .reset-btn {
    color: #3661f0;

    &:hover {
      color: #5e80f3;
      cursor: pointer;
    }
  }
}

.item-flex--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .divider {
    margin: 0 8px;
    color: #b1b8c4;
  }

  .suffix-text {
    padding-left: 8px;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
  }
}