.el-menu {
  --xxy-menu-font-color--default: var(--xxy-color-light--7);
  --xxy-menu-bg-color--default: var(--xxy-color-dark--5);
  --xxy-menu-font-color--active: var(--xxy-color-primary--1);
  --xxy-menu-bg-color--active: var(--xxy-color-light--7);
  --xxy-menu-icon-font-color--open: var(--xxy-color-light--7);
  --xxy-menu-item-bg-color--hover: rgba(255, 255, 255, 0.1);
  --xxy-menu-item--align: left;
  --xxy-menu-item--height: 36px;
  --xxy-menu-item--lineheight: 36px;
  --xxy-menu-item-border-radius--active: 18px;
}

.el-menu {
  width: 100%;
  color: var(--xxy-menu-font-color--default);
  background-color: var(--xxy-menu-bg-color--default);
  border-right: 0;
  box-sizing: border-box;

  .el-menu-item {
    padding: 5px 16px;
    width: 100%;
    font-weight: 500;
    color: var(--xxy-menu-font-color--default);
    height: 46px;
    background-color: var(--xxy-menu-bg-color--default);

    .el-menu-item-container {
      padding: 0 10px;
      width: 100%;
      text-align: var(--xxy-menu-item--align);
      line-height: var(--xxy-menu-item--lineheight);
      border-radius: var(--xxy-menu-item-border-radius--active);

      .container-item-title {
        padding-left: 8px;
      }

      &:hover {
        background-color: var(--xxy-menu-item-bg-color--hover);
      }

      &.is-active {
        color: var(--xxy-menu-font-color--active);
        background-color: var(--xxy-menu-bg-color--active);
        border-radius: var(--xxy-menu-item-border-radius--active);
      }
    }

    &:not(.el-menu--collapse):not(.el-menu--popup-container) {
      padding: 5px 16px;
    }
  }

  .el-sub-menu {
    padding: 5px 10px;
    font-weight: 500;
    background-color: var(--xxy-menu-bg-color--default);

    .el-sub-menu__title {
      position: relative;
      padding: 0 16px;
      color: var(--xxy-menu-font-color--default);
      text-align: var(--xxy-menu-item--align);
      height: var(--xxy-menu-item--height);
      line-height: var(--xxy-menu-item--lineheight);
      border-radius: var(--xxy-menu-item-border-radius--active);

      > span {
        padding-left: 8px;
      }

      .el-sub-menu__icon-arrow {
        display: none;
      }

      &:hover {
        background-color: var(--xxy-menu-item-bg-color--hover);
      }

      &::after {
        position: absolute;
        right: 25px;
        top: calc(50% - 5px);
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 5px solid var(--xxy-color-dark--4);
        border-bottom: 5px solid transparent;
        transform: rotate(0);
        transition: all 0.2s ease-in;
      }
    }

    .el-menu[role='menu'] {
      .el-menu-item[role='menuitem'] {
        margin: 8px 0;
        padding: 5px 0 5px 45px;
        padding-left: 45px;
        width: 100%;
        min-width: 168px;
        text-align: var(--xxy-menu-item--align);
        height: var(--xxy-menu-item--height);
        line-height: var(--xxy-menu-item--lineheight);
        border-radius: var(--xxy-menu-item-border-radius--active);

        &:hover {
          background-color: var(--xxy-menu-item-bg-color--hover);
        }

        &.is-active {
          color: var(--xxy-menu-font-color--active);
          background-color: var(--xxy-menu-bg-color--active);
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &:not(.el-menu--collapse):not(.el-menu--popup-container) {
      .el-sub-menu__title {
        padding: 5px 16px;
      }
    }

    &.is-opened {
      .el-sub-menu__title {
        &::after {
          transform: rotate(90deg);
          border-left-color: var(--xxy-menu-icon-font-color--open);
        }
      }
    }
  }

  &.el-menu--collapse {
    padding: 0 16px;

    .el-menu-item {
      padding: 0 !important;
      width: 36px;
      border-radius: 50%;
      justify-content: center;

      .el-menu-item-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;

        i {
          font-size: 16px;
        }

        .container-item-title {
          display: none;
        }
      }

      &.is-active {
        .el-menu-item-container {
          color: var(--xxy-menu-font-color--active);
          background-color: var(--xxy-menu-bg-color--active);
        }
      }
    }

    .el-sub-menu {
      padding: 5px 0;

      .el-sub-menu__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        width: 36px;
        height: 36px;

        i.el-icon {
          display: none;
        }

        > span {
          display: none;
        }

        &::after {
          display: none;
        }
      }

      &.is-active {
        .el-sub-menu__title {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: var(--xxy-menu-bg-color--active);
        }
      }
    }
  }
}

// 菜单收起弹出层
.el-menu-popover {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--xxy-shadow-size--block) var(--xxy-color-shdow--1);

  .el-menu-popover {
    .el-menu--popup {
      .el-menu-item {
        padding: 0 24px;
        height: 40px;
        color: var(--xxy-color-dark--1);
        transition: all .25s ease;

        &:hover {
          padding-left: 16px;
          color: var(--xxy-color-primary--1);
        }
      }
    }
  }
}
