// text highlight
.text-hightlight {
  color: #ff5b60;
}

.text-link {
  &:hover {
    color: var(--xxy-color-primary--1);
    text-decoration: underline;
    cursor: pointer;
  }
}
.company-name-column {
  overflow: hidden;
  text-overflow: ellipsis;
}
// 遗留布局样式 start
.inner {
  min-height: calc(100% - 31px);
  flex: 1;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  .search-item--wrapper {
    padding: 20px 20px 0 20px;

    .el-input__icon {
      width: 16px;
    }

    .select-trigger .el-input.el-input--suffix .el-input__inner {
      width: 180px;
      padding-right: 22px;
    }
  }

  .table-items--wrapper {
    flex: 1;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .option {
      .search-item--wrapper {
        padding: 0 20px 0 0;
        display: flex;

        .lables {
          padding-top: 9px;
          width: 70px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #666666;
        }

        .searchform {
          flex: 1;
        }
      }
    }
    .table-list--wrapper {
      flex: auto;
      overflow: auto;
      min-height: 300px;

      > div {
        &:nth-child(1) {
          flex: auto;
        }
      }

      .el-table {
        height: auto;
      }
    }
  }
}
// 遗留布局样式 end

// nprogress
#nprogress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;

  .bar {
    width: 100%;
    height: 100%;
    background: #5487df;
    z-index: 1031;
  }
}

// animation section start
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(75px, 0, 0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(75px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(15px, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(15px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
// animation section end
