.el-form {
  --xxy-form-font-size--label: var(--xxy-font-size--4);
  --xxy-form-font-color--label: var(--xxy-color-dark--4);
}

.el-form {
  .el-form-item {
    margin-bottom: 24px;

    .el-form-item__label {
      padding-right: 8px;
      font-size: var(--xxy-form-font-size--label);
      font-weight: 400;
      color: var(--xxy-form-font-color--label);
      white-space: nowrap;
    }

    .el-form-item__content {
      .el-form-item__error {
        padding-top: 0;
      }
    }
  }
}
