.el-pagination {
  --xxy-pagination-active-color: var(--xxy-color-primary--1);
  --xxy-pagination-hover-color: var(--xxy-color-primary--3);
  --xxy-pagination-active-hover-color: var(--xxy-color-light--7);
  --xxy-pagination-border-width: var(--xxy-border-width--1);
  --xxy-pagination-border-style: var(--xxy-border-style--1);
  --xxy-pagination-border-color: var(--xxy-color-light--2);
  --xxy-pagination-border-radius: var(--xxy-border-radius-s);
  --xxy-pagination-background--normal: var(--xxy-color-light--7);
  --xxy-pagination-background--disabled: var(--xxy-color-light--6);
  --xxy-pagination-background--active: var(--xxy-color-primary--1);
}


.el-pagination {
  height: 44px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  &.is-background {
    padding: 10px 20px 10px 0;
    .btn-prev,
    .btn-next {
      vertical-align: middle;
      width: 28px;
      height: 28px;
      box-sizing: border-box;
      background: var(--xxy-pagination-background--normal);
      border-radius: var(--xxy-pagination-border-radius);
      border: var(--xxy-pagination-border-width) var(--xxy-pagination-border-style) var(--xxy-pagination-border-color);
      text-align: center;
      line-height: 26px;

      &:not(.is-disabled):hover {
        color: var(--xxy-pagination-hover-color);
      }
    }
    .el-pager {
      vertical-align: middle;
      .number {
        vertical-align: middle;
        height: 28px;
        box-sizing: border-box;
        background: var(--xxy-pagination-background--normal);
        border-radius: var(--xxy-pagination-border-radius);
        border: var(--xxy-pagination-border-width) var(--xxy-pagination-border-style) var(--xxy-pagination-border-color);
        text-align: center;
        line-height: 26px;
        &:not(.is-disabled).is-active {
          background-color: var(--xxy-pagination-background--active);
          border: none;
          line-height: 28px;

          &:hover {
            cursor: pointer;
            color: var(--xxy-pagination-active-hover-color);
          }
        }

        &:not(.is-disabled):hover {
          color: var(--xxy-pagination-hover-color);
        }
      }

      .more {
        &:not(.is-disabled):hover {
          color: var(--xxy-pagination-active-color);
        }
      }
    }
  }
}
