.el-radio {
  --xxy-checkbox-select-color: var(--xxy-color-primary--1);
}


.el-radio-group {
  .el-radio.is-checked {
    .el-radio__input {
      .el-radio__inner {
        border-color: var(--xxy-checkbox-select-color);
        background-color: var(--xxy-checkbox-select-color);
      }
    }

    .el-radio__label {
      color: var(--xxy-checkbox-select-color);
    }
  }
}