.el-tabs {
  --xxy-tabs-active-color: var(--xxy-color-primary--1);
}

.el-tabs {
  .el-tabs__header {
    .el-tabs__nav-wrap {
      .el-tabs__nav-scroll {
        .el-tabs__nav {
          .el-tabs__item {
            &.is-active {
              color: var(--xxy-tabs-active-color);
            }

            &:hover {
              color: var(--xxy-tabs-active-color);
            }
          }
        }
      }
    }
  }
}

// el-tabs common
.tabs-reset-wrapper--common {
  >.el-tabs {
    .el-tabs__header {
      margin: 0;
      .el-tabs__nav-wrap::after {
        height: 1px;
        color: #EBEDF0;
      }
      .el-tabs__active-bar {
        // width: 24px !important;
        height: 3px !important;
        background: #3661f0;
        border-radius: 2px;
        bottom: 3px;
      }
      .el-tabs__item {
        font-family: PingFangSC-Semibold, PingFang SC;
        height: 48px;
        line-height: 48px;
        color: #222222;
        &.is-active {
          font-size: 14px;
          font-weight: 600;
          color: #3661f0;
        }
      }
    }
  }
}

// el-tabs overflow border-card
.tabs-reset-wrapper--overflow {
  > .el-tabs--border-card {
    border: 0px;
    margin-top: 12px;
    user-select: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    // height: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    > .el-tabs__header {
      margin-bottom: 0px;
      border: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  
      > .el-tabs__nav-wrap {
        overflow: visible;
        .el-tabs__nav-scroll {
          height: 50px;
          line-height: 50px;
          position: relative;
          overflow: visible;
          .el-tabs__nav {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: flex-end;
            .el-tabs__item {
              height: 50px;
              line-height: 50px;
              padding: 0 40px;
              font-size: 14px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #666666;
              text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
              border-bottom: none;
              transition: all 0.2s ease;
              user-select: none;
              &.is-active {
                height: 60px;
                line-height: 60px;
                background: #ffffff;
                font-weight: 600;
                color: #3661f0;
                text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
                box-shadow: 0 -5px 16px -9px rgba(0, 0, 0, 0.08);
                border-radius: 8px 8px 0px 0px;
                border: 0px solid transparent;
                transform: translate3d(1px, 0, 0);
              }
            }
          }
        }

        &:after {
          background: none;
        }
      }
    }

    > .el-tabs__content {
      padding: 0px;
      .el-tab-pane {
        height: 100%;
      }
    }
  }
}

// el-tabs bg border-card 
.tabs-reset-wrapper--bg {
  > .el-tabs--card {
    user-select: none;
    height: 48px;
    > .el-tabs__header {
      border: none;
      margin: 0;
      .el-tabs__nav-wrap {
        background: #3661f0;
        > .el-tabs__nav-prev,
        > .el-tabs__nav-next {
          width: 32px;
          text-align: center;
          background: #3661f0;
          height: 48px;
          color: #ffffff;
          box-sizing: border-box;

          i {
            vertical-align: middle;
          }
        }
        > .el-tabs__nav-prev {
          border-right: 1px solid #ffffff;
        }
        > .el-tabs__nav-next {
          border-left: 1px solid #ffffff;
        }

        &.is-scrollable {
          padding: 0 32px;
        }
        .el-tabs__nav {
          border: none;
          border-radius: unset;
          .el-tabs__item {
            border: none;
            height: 48px;
            line-height: 48px;
            background: #3661f0;
            color: #ffffff;
          }
        }
      }
      .el-tabs__nav {
        margin-left: 0;
        .el-tabs__item {
          font-size: 14px;
          transition: all 0.5s ease;
          &.is-active {
            background: #ffffff;
            color: #3661f0;
          }
        }
      }
    }
  }
}

// el-tabs border border-card
.tabs-reset-wrapper--border {
  > .el-tabs--card {
    user-select: none;
    .el-tabs__header {
      margin-bottom: 0;
      .el-tabs__new-tab {
        display: none;
      }
      > .el-tabs__nav-wrap {
        > .el-tabs__nav-prev,
        > .el-tabs__nav-next {
          width: 32px;
          text-align: center;
          padding: 0 10px;
        }
        &.is-scrollable {
          padding: 0 32px;
        }
        .el-tabs__item {
          font-family: PingFangSC-Semibold, PingFang SC;
          color: #222222;
          &.is-active {
            font-weight: 600;
          }
        }
        .el-tabs__nav {
          border-left: none;
        }
      }
    }
  }
}

// define tabs acitve bar style for directive
.qyk-reset-activebar--tabs {
  // 为了防止重置嵌套tab 选择重置当前得独立得active-bar
  > .el-tabs__header {
    .el-tabs__active-bar {
      display: none !important;
    }
  }

  .qyk-tabs-activebar {
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    background-color: #3661f0;
    border-radius: 2px;
    transition: transform 0.2s ease;
  }
}
