.el-popper {
  --xxy-popper-font-color: var(--xxy-color-dark--1);
  --xxy-popper-border-color: var(--xxy-color-light--7);
  --xxy-popper-background-color: var(--xxy-color-light--7);
  --xxy-popper-box-shadow-size: var(--xxy-shadow-size--block);
  --xxy-popper-box-shadow-color: var(--xxy-color-shdow--2);
}

.el-popper {
  word-break: break-all;

  &.is-dark {
    color: var(--xxy-popper-font-color);
    border-color: var(--xxy-popper-border-color);
    background-color: var(--xxy-popper-background-color);
    box-shadow: var(--xxy-popper-box-shadow-size) var(--xxy-popper-box-shadow-color);

    .el-popper__arrow {
      &::before {
        border-color: var(--xxy-popper-border-color);
        background-color: var(--xxy-popper-border-color);
      }
    }
  }
}
